div.card{
    width: 200px;
    min-height: 410px;
    border: 1px solid #ECECEC;
    margin-bottom: 20px !important;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 1px 13px 2px rgba(43,43,43,0.07); 
box-shadow: 0px 1px 13px 2px rgba(43,43,43,0.07);
background: white;
color: #212F3D;
transition: all 0.8s;
	-webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    position: relative;
}

div.cardDark{
    width: 200px;
    min-height: 410px;
    border: 1px solid rgb(53, 53, 53);
    margin-bottom: 20px !important;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 1px 13px 2px rgba(43,43,43,0.07); 
box-shadow: 0px 1px 13px 2px rgba(43,43,43,0.07);
background: #1c1c1e;
color: white;
transition: all 0.8s;
	-webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    position: relative;
}



#album{
    font-size: 14px;
    margin: 20px 10px 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#artista{
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

#albumVertical{
    font-size: 20px;
    margin: 20px 10px 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    

    
    
}

#artistaVertical{
    
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    
}

div.cajaAuxiliar{
    
     width: 97%;
     height: 200px;
     margin: 10px 10px 10px 18px; 
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15); 
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
transition: all 0.8s;
	-webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    border: 1px solid #ECECEC;
    animation: slide 1s ease 3.5s forwards;
    animation-delay: 5s;
    position: relative;
   
}

div.cajaAuxiliarOscuro{
    
    width: 97%;
    height: 200px;
    margin: 10px 10px 10px 18px; 
   -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15); 
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
background: #1c1c1e;
color: white;
transition: all 0.8s;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   border: 1px solid rgb(53, 53, 53);
   animation: slide 1s ease 3.5s forwards;
   animation-delay: 5s;
   position: relative;
  
}

#audioPlayer{
    margin-left: 9px;
    bottom: 10px;
    position: absolute;
    
}

#audioPlayerVertical{
    margin-left: 220px;
    bottom: 5px;
    position: absolute;
    
}

#cancion{
    font-size: 14px;
    margin: 20px 10px 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#cancionVertical{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    
  
}